@import "bootstrap";

.navbar {
  font-family: "Helvetica Nue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;  //little box shadow
  background: image_url('footer_lodyas.png'); //add some small design detail of adding a simple 
  //a pattern as the background, app/assets/images (png format) source:subtlepatterns.com
}
.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Nue", Helvetica;
  font-weight: 100; 
  color: white;  //Next change I want to do is make the brand be white instead of grey.
}
